.layout
{
    display: grid;
    grid-template-columns: 320px 1fr 1fr 1fr 170px;
    grid-template-rows: 65px auto 150px auto 550px;
    grid-template-areas: 'a o o b c'
        'e f f g h'
        'i j j j h'
        'k l l l h'
        'k m n p h';
}

.header-city
{
    grid-area: a;
}

.city
{
    display: flex;
    justify-content: center;
}

a
{
    text-decoration: none;
}

.city > a
{
    margin: 20px;
}

.city > a > div
{
    float: left;
    width: 19px;
    height: 19px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="19" height="38" viewBox="0 0 19 38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cdefs%3E%3Cg id="a"%3E%3Cpath d="m15 4l-11.9 5.3 5.8 0.8 0.5 5.5 5.6-11.6z"/%3E%3C/g%3E%3C/defs%3E%3Cuse xmlns="http://www.w3.org/2000/svg" xlink:href="%23a" fill="%23B3B3B3"/%3E%3Cuse xmlns="http://www.w3.org/2000/svg" xlink:href="%23a" fill="%23d00" transform="translate(0 19)"/%3E%3C/svg%3E');
}

.header-settings
{
    grid-area: b;
}

.settings
{
    display: flex;
    justify-content: center;
}

.settings > p
{
    margin: 20px;
}

.header-mail
{
    grid-area: c;
}

.mail
{
    box-shadow: 0 0 10px 1px rgba(204,202,204,1);
    padding: 1px 0;
}

.mail > p
{
    margin-left: 10px;
}

.main-news
{
    grid-area: f;
    font: .75em/1.6em Verdana, sans-serif;
}

.blue-head
{
    color: #0054b9;
    font-weight: 430;
    font-size: 140%;
}

.light-blue-head
{
    color: #6da2e1;
    font-weight: 430;
    font-size: 140%;
}

.news-date
{
    font-size: 84.6%;
}

.gray-font
{
    color: #999;
}

ul
{
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

li
{
    margin-bottom: 10px;
}

.ya-red
{
    color: red;
}

.bold
{
    font-weight: bold;
}

.rates
{
    line-height: 1.25;
    font-size: 92.3%;
    letter-spacing: 1px;
    vertical-align: top;
}

.value-change
{
    margin-right: 6px;
    font-weight: 500;
    text-align: right;
}

.adv
{
    grid-area: g;
}

.teaser-title
{
    font-size: 138.5%;
    font-weight: 400;
    line-height: 1.25;
}

.teaser-description
{
    line-height: 1.25;
}

.search-logo
{
    grid-area: i;
}

.logo
{
    max-height: 150px;
    max-width: 220px;
}

.logo > img
{
    vertical-align: top;
    height: 50px;
    width: 130px;
    margin: 50px 0 0 185px;
}

.search-box
{
    grid-area: j;
}

.search-header
{
    margin-top: 30px;
}

.search-header > a
{
    margin-right: 20px;
    color: #0054b9;
    font-size: 130%;
}

.search
{
    width: calc(92% - 80px);
    height: 36px;
    border: 2px solid #fc0;
    margin-right: 0;
    margin-top: 10px;
}

.button
{
    background: #fc0;
    height: 36px;
    width: 80px;
    border: 2px solid #fc0;
    margin-left: -10px;
    padding: 0;
}

button
{
    position: relative;
}

.button::after
{
    content: '';
    top: -1px;
    position: absolute;
    right: -30px;
    border: 18px solid transparent;
    border-left: 10px solid #fc0;
}

.adv-block
{
    grid-area: l;
}

.visited-box
{
    grid-area: m;
    font: .75em/1.6em Verdana, sans-serif;
}

.visited
{
    line-height: 2;
}

.anecdots
{
    margin-top: 20px;
}

.anecdots span
{
    font-size: 100% !important;
}

.tv-programm
{
    grid-area: n;
    font: .75em/1.6em Verdana, sans-serif;
    line-height: 2;
}

.tall-font
{
    font-size: 110%;
}

.news-scroll
{
    height: 200px;
    overflow-y: scroll;
    box-shadow: inset 0 21px 21px  -30px #333 , inset 0 -21px 21px  -30px #333;
}

.last-column
{
    grid-area: p;
    font: .75em/1.6em Verdana, sans-serif;
}

.weather
{
    line-height: 2;
}

.weather-logo
{
    display: inline-block;
    height: 33px;
    width: 33px;
}

.weather-logo > img
{
    height: 95%;
    width: 95%;
    margin: -10px 2px -10px 3px;
}

.black-font
{
    color: black;
}
